spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:postgresql://3.35.191.125:5432/test_prod
    username: id_prod
    password: password

  jpa:
    hibernate:
      ddl-auto: validate