spring:
  config:
    activate:
      on-profile: local

  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: id_local
    password: password

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

