# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: build

on: 
  pull_request:
    branches:
      - main
      - test
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Create active profile
      run: |
        # 브랜치에 따라 다른 설정 파일 생성
        if [ "${{ github.base_ref }}" = "main" ]; then
          echo "${{ secrets.APPLICATION_PROD_YML }}" > src/main/resources/application-prod.yml
          echo "현재 배포 환경: PROD"
        elif [ "${{ github.base_ref }}" = "test" ]; then
          echo "${{ secrets.APPLICATION_DEV_YML }}" > src/main/resources/application-dev.yml
          echo "현재 배포 환경: DEV"
        fi

    - name: Build with Gradle
      # 빌드 시 특정 프로필을 활성화해서 테스트하도록 설정
      run: |
        if [ "${{ github.base_ref }}" = "main" ]; then
          ./gradlew build -Dspring.profiles.active=prod
        else
          ./gradlew build -Dspring.profiles.active=dev
        fi
